@font-face{
    font-family: "iranSans";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/IRANSansX-Regular.woff") format(woff);
}

@font-face{
    font-family: "iranSans";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/IRANSansX-Bold.woff") format(woff);
}

@font-face{
    font-family: "iranSans";
    font-weight: 500;
    font-style: normal;
    src: url("../assets/fonts/IRANSansX-Medium.woff") format(woff);
}


@font-face{
    font-family: "iranSans";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/IRANSansXFaNum-Regular.woff") format(woff);
}

@font-face{
    font-family: "iranSans";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/IRANSansXFaNum-Bold.woff") format(woff);
}


body{
    font-family: "iranSans";
}